body {
    font-family: Microsoft JhengHei;
    font-size: 14px;
    margin: 8px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1140px;
    display:flex;
}
.col{
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px;
    -ms-flex-preferred-size:0;
    flex-basis:0;
    flex-grow:1;
    max-width:100%
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.item-right{
    flex:1; /*對應子層加上；1數值是內元件之間佔的比例*/
 }
 ​
 .item-left{
    flex:1; /*對應子層加上*/
 }